@media screen and (min-width: 500px) {
    body{
        background: url('/Assets/bg_ipad.svg') no-repeat;
        
    }
}

@media  screen and (min-width: 992px) {
    .menu-button{
        display: none;
    }

    .showHide{
        display: inherit;
    }

    nav{
        padding-bottom: 30px;
    }
    nav ul {
        display: flex;
        position: relative;
        list-style: none;
        z-index: 99;
        background-color: rgba($color: #fff, $alpha: 0);
        :first-child{
            margin-top: 0;
        }

        li{
            margin: 0;
            padding: 0 20px;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: $darkBgColor;
            a{
                text-decoration: none;
                color: $darkBgColor;
            }
        }   
    }
}
@media screen and (min-width: 1020px) {
    body{
        background: url('/Assets/bg_desktop.svg') no-repeat;
        
    }
}