@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  position: relative;
}

body {
  background: url("/Assets/background.svg") no-repeat;
  background-size: contain;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  position: absolute;
  inset: 0;
  list-style: none;
  background-color: white;
  z-index: 99;
}
nav ul :first-child {
  margin-top: 300px;
}
nav ul li {
  margin: 0;
  padding: 0 0 70px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #2F2E41;
}
nav ul li a {
  text-decoration: none;
  color: #2F2E41;
}

.red {
  color: #FF6584;
}

.showHide {
  display: none;
  transition: all 1s ease-in-out;
}

.menu-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.menu-burger {
  width: 40px;
  height: 4px;
  background-color: #2F2E41;
  border-radius: 1px;
  box-shadow: 0 2px 10px rgba(100, 187, 227, 0.8);
  transition: all 0.5s ease-in-out;
}

.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #2F2E41;
  border-radius: 1px;
  box-shadow: 0 2px 10px rgba(100, 187, 227, 0.8);
  transition: all 0.5s ease-in-out;
}

.menu-burger::before {
  transform: translateY(-12px);
}

.menu-burger::after {
  transform: translateY(12px);
}

/**
Animation
**/
.open .menu-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.open .menu-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .menu-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  color: white;
}
.info-container p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 18px;
}
.info-container span {
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0 10px 0;
  padding: 15px 70px;
  color: #2F2E41;
  background-color: white;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 18px;
  border-radius: 25px;
}
.info-container span:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.info-container span:active {
  background: #6C63FF;
  transition: all ease-in-out;
  color: white;
}

.name-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-tag {
  margin-bottom: 40px;
  width: 234px;
  height: 170px;
  background: #6C63FF;
  border-radius: 20px;
  padding: 5px 0;
  transform: rotate(-5deg);
}
.name-tag h2,
.name-tag h5 {
  margin: 0;
  padding: 0;
}

.middle-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2F2E41;
  background: white;
  margin: 5px 0;
  width: 232px;
  height: 90px;
  text-align: center;
  font-family: "Allison";
  font-size: 45px;
}
.middle-tag h1 {
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.image-container :nth-child(2) {
  margin-top: 60px;
}

main {
  margin: 3em 0;
  padding-top: 10em;
  text-align: center;
}
main h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  padding-bottom: 30px;
}
main h2::before {
  width: 40px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #6C63FF;
  transform: translateX(-50%);
}

.abilitati {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}
.abilitati p {
  padding: 30px 0;
  position: relative;
}

footer {
  min-height: 500vh;
}

@media screen and (min-width: 500px) {
  body {
    background: url("/Assets/bg_ipad.svg") no-repeat;
  }
}
@media screen and (min-width: 992px) {
  .menu-button {
    display: none;
  }

  .showHide {
    display: inherit;
  }

  nav {
    padding-bottom: 30px;
  }

  nav ul {
    display: flex;
    position: relative;
    list-style: none;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0);
  }
  nav ul :first-child {
    margin-top: 0;
  }
  nav ul li {
    margin: 0;
    padding: 0 20px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #2F2E41;
  }
  nav ul li a {
    text-decoration: none;
    color: #2F2E41;
  }
}
@media screen and (min-width: 1020px) {
  body {
    background: url("/Assets/bg_desktop.svg") no-repeat;
  }
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
