@import '1-defaults/resets';
@import '1-defaults/colors';
@import '1-defaults/variables';

@import '2-layout/elements';
@import '2-layout/components';
@import '2-layout/mediaQueries';

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

// header, main, footer{
//     border: 2px dashed pink;
// }



